<section class="articles__small-col">
	<!--=include ../../bem-blocks/small-article/_small-article.html -->
	<!--=include ../../bem-blocks/small-article/_small-article.html -->
	<!--=include ../../bem-blocks/small-article/_small-article.html -->
	<!--=include ../../bem-blocks/small-article/_small-article.html -->
	<!--=include ../../bem-blocks/small-article/_small-article.html -->
	<!--=include ../../bem-blocks/small-article/_small-article.html -->
	<!--=include ../../bem-blocks/small-article/_small-article.html -->
	<!--=include ../../bem-blocks/small-article/_small-article.html -->
	<!--=include ../../bem-blocks/small-article/_small-article.html -->
</section>




				