html, body{
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: primary, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  min-width: 320px;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
}
img {
  display: block;
  max-width: 100%;
}
video{
  display: block;
  max-width: 100%;
}
.container{
  max-width: 1445px;
  padding: 0 5px;
  margin: 0 auto;
}

.grid{
	display: grid;
	grid-template-columns: repeat(12, 101px);
	gap: 20px;
}
