<article class="main-article">
	<a class="main-article__img" href="#">
		<img src="images/1.webp" alt="изображение новости">
	</a>
	<div class="main-article__content">
		<h4 class="main-article__category">ТЕХНОЛОГИИ</h4>
		<a class="main-article__title line-limit" href="#">Отец жанра. Как уже забытый трип-хоп определяет самую популярную и дальше идет текст</a>
		<p class="main-article__text line-limit">Новая мода на топовые наряды необычных цветов. В сезоне – топики, шорты-боксеры, сланцы и сандалии. А также большие солнечные очки и яркая шляпка.</p>
		<a class="main-article__src" href="#">ИСТОЧНИК</a>
	</div>
</article>